body{
    background-color: #dddbf1;
    margin-top: 1em;
    color: #222222;
}

h2{
    margin-top: 1em;
    text-align: center;
}

h3{
    text-align: center;
    font-size: 4em;
}

table{
    max-width: 50%;
    text-align: center;
    margin-top: 1em;
}


#logo-header{
    max-width: 70%;
    margin-top: 1em;
}


.cpu-player-cards{
    margin-top: 3em;
    justify-content: space-around;
}

.card-body{
    background-color: #442220;
    color: #dbdbdb;
}

.result-display{
    margin-top: 2em;
    text: 100px;    
}

.play-again{
    margin-top: .7em;
    justify-content: space-around;
}

.btn{
    background-color:#8064A2;
    border: #442220;
    border-radius: 90px;
    color: #eeeeee;
}

.cpu-player-cards img {
    max-width: 95%;
    max-height: 8em;
}

.footer-row{
    margin-top: 2em;
}