body{
    background-color: #dddbf1;
    margin-top: 1em;
}

h2{
    margin-top: 1em;
    text-align: center;
}

table{
    max-width: 50%;
    text-align: center;
}


#logo-header{
    max-width: 70%;
    margin-top: 1em;
}


.cpu-player-cards{
    margin-top: 3em;
    justify-content: space-around;
}

.card-body{
    background-color: #442220;
    color: #dbdbdb;
    
}

.result-display{
    margin-top: 2em;
    text: 100px;    
}

.play-again{
    margin-top: .7em;
    justify-content: space-around;
}

.btn{
    background-color: #8064A2;
    border: #442220;
}

.cpu-player-cards img {
    max-width: 95%;
    max-height: 8em;
}